@charset "UTF-8";
/* Documentation specific styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Base styles for the documentation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  max-width: 800px; }

.header {
  margin-top: 6rem;
  text-align: center; }
  @media (min-width: 550px) {
    .header {
      margin-top: 18rem; } }
  .header__logo {
    margin-bottom: 1rem;
    max-width: 300px;
    width: 100%; }

/* Documentation section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.docs-section {
  border-top: 1px solid #eee;
  margin-bottom: 0;
  padding: 4rem 0; }
  @media (min-width: 550px) {
    .docs-section {
      padding: 6rem 0; } }
  .docs-section__header {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase; }

/* Documentation example related styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.docs-example.row,
.docs-example .row,
.docs-example .flex-row,
.docs-example form {
  margin-bottom: 0; }
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem; }

/* Visualize the grid */
.docs-example--visualize-grid .column,
.docs-example--visualize-grid .columns {
  background: #eee;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  height: 30px;
  letter-spacing: 0.1rem;
  line-height: 30px;
  margin-bottom: 0.75rem;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 550px) {
    .docs-example--visualize-grid .column,
    .docs-example--visualize-grid .columns {
      margin-bottom: 1.5rem; } }
.docs-example--visualize-grid .col-demo {
  background: #eee;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 30px;
  min-height: 30px;
  text-align: center;
  text-transform: uppercase; }

/* Code Example */
.code-example {
  margin-bottom: 0;
  margin-top: 1.5rem; }
  .code-example__body {
    white-space: pre;
    word-wrap: break-word; }

/* Example layouts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Two column (blog style) layout */
.main {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  .main:after {
    clear: both;
    content: '';
    display: table; }

/* 8 Column div for the blog posts */
.section {
  background-color: #eee;
  border-radius: 4px;
  float: left;
  line-height: 60px;
  margin-bottom: 0.75rem;
  width: 100%; }
  @media (min-width: 550px) {
    .section {
      width: 65.33333%; } }

/* 4 Column div for the side-bar */
.aside {
  background-color: #eee;
  border-radius: 4px;
  float: left;
  line-height: 60px;
  margin-bottom: 0.75rem;
  width: 100%; }
  @media (min-width: 550px) {
    .aside {
      width: 30.66667%; } }

@media (min-width: 550px) {
  .aside:not(:first-of-type) {
    margin-left: 4.0%; }

  .section:not(:first-of-type) {
    margin-left: 4.0%; } }
/* Documentation util
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.heading-font-size {
  color: #999;
  font-size: 1.2rem;
  letter-spacing: normal; }

.u-res-break {
  display: inline; }
  @media (min-width: 590px) {
    .u-res-break {
      display: none; } }

.u-margin-bottom {
  margin-bottom: 2rem; }

.u-ellip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
