
// Base Styles
// ------------------------------------------------------------
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $body-font;
  font-size: 100%;
  font-weight: $body-font-weight;
  line-height: 1.6;
  margin: 0;
}

a {
  color: $anchor-color;

  &:hover {
    color: $anchor-color-hover;
  }
}

dl,
ol,
ul {
  margin-bottom: 1rem;
  margin-top: 0;
}

code {
  font-family: Menlo, monospace;
  margin: 0;
  white-space: nowrap;
}

pre > code {
  border: 1px solid $light-grey;
  border-radius: 4px;
  display: block;
  overflow-x: scroll;
  padding: 2rem;
  white-space: pre;
}

hr {
  border-top: 1px solid $light-grey;
  border-width: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid $light-grey;
  padding: 0.25rem 1rem;
  text-align: left;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol {
  margin-bottom: 1rem;
}

p { margin-top: 0; }

img { max-width: 100%; }
svg { max-height: 100%; }
