
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Base styling shared by inputs too */
@mixin btn-base() {
  font-family: $btn-font;
  font-weight: $btn-font-weight;
  display: inline-block;
  height: $btn-size;
  padding: 0 30px;
  text-align: center;
  font-size: $btn-font-size;
  line-height: $btn-size;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: $base-radius;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 0;
  }
}

/* Input buttons */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  @include btn-base;
  // Note: No margin is set here.
  // The margin is set on the input
  // elements in _form.scss
}

button {
  @include btn-base;
  margin-bottom: $base-spacing;
}

/* Button Generator */
@mixin btn-gen($color, $bg, $border, $color-h, $bg-h, $border-h) {
  @include btn-base;
  color: $color;
  background-color: $bg;
  border: 1px solid $border;

  &:hover,
  &:focus {
    color: $color-h;
    background-color: $bg-h;
    border-color: $border-h;
  }
}


/* Basic button */
button,
.btn {
  @include btn-gen($btn-color, $btn-bg, $btn-border,
                   $btn-color-h, $btn-bg-h, $btn-border-h);
}
/* Primary Button */
.btn--primary {
  @include btn-gen($btn-prim-color, $btn-prim-bg, $btn-prim-border,
                   $btn-prim-color-h, $btn-prim-bg-h, $btn-prim-border-h);
}
