
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Base styling shared by inputs too */
@mixin btn-base() {
  font-family: $btn-font;
  font-weight: $btn-font-weight;
  display: inline-block;
  height: $btn-size;
  padding: 0 30px;
  text-align: center;
  font-size: $btn-font-size;
  line-height: $btn-size;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: $base-radius;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 0;
  }
}

/* Input buttons */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  @include btn-base;
  // Note: No margin is set here.
  // The margin is set on the input
  // elements in _form.scss
}

button {
  @include btn-base;
  margin-bottom: $base-spacing;
}

/* Button Generator */
@mixin btn-gen($btn-info) {
  @include btn-base;
  background-color: map-get($btn-info, bg);
  color: map-get($btn-info, color);
  border: 1px solid map-get($btn-info, border);

  &:hover,
  &:focus {
    background-color: map-get(map-get($btn-info, hover), bg);
    border-color: map-get(map-get($btn-info, hover), border);
    color: map-get(map-get($btn-info, hover), color);
  }
}


/* Basic button */
button,
.btn {
  @include btn-gen($btn);
}
/* Primary Button */
.btn--primary {
  @include btn-gen($btn-primary);
}
/* Success Button */
.btn--success {
  @include btn-gen($btn-success);
}
/* Danger Button */
.btn--danger {
  @include btn-gen($btn-danger);
}
