
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form {
  margin-bottom: 2.5*$base-spacing;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5*$base-spacing;
}

input[type="date"],
input[type="email"],
input[type="number"]
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: #fff;
  border: 1px solid $light-grey;
  border-radius: $base-radius;
  box-shadow: none;
  height: 38px;
  // The 6px vertically centers text on FF, ignored by Webkit
  padding: 6px 10px;
}
/* Removes awkard default styles on some inputs for iOS */
input[type="date"],
input[type="email"],
input[type="number"]
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  @include appearance(none);
}

textarea {
  min-height: 65px;
  padding-bottom: 6px;
  padding-top: 6px;
}

input[type="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid $primary;
  outline: 0;
}

label,
legend {
  display: block;
  font-weight: $label-font-weight;
  margin-bottom: 0.5*$base-spacing;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label--body {
  display: inline-block;
  font-weight: normal;
  margin-left: 0.5*$base-spacing;
}
