
// Forms
// ------------------------------------------------------------
form {
  margin-bottom: 0;
  margin-top: 0;
}

input,
textarea,
select,
fieldset {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.75;
  margin-bottom: 0;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  @include appearance(none);
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: $base-radius;
  box-shadow: none;
  height: 4rem;
  // The 6px vertically centers text on FF, ignored by Webkit
  padding: $s;
}

textarea {
  min-height: 8rem;
  padding-bottom: $s;
  padding-top: $s;
}

input[type="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid $primary;
  outline: 0;
}

select {
  @include appearance(none);
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: $base-radius;
  box-shadow: none;
  padding: $s;
}

select:not([multiple]) {
  height: 4rem;
  vertical-align: middle;
}

label,
legend {
  display: block;
  font-weight: $label-font-weight;
  margin-bottom: 0;
}

fieldset {
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
