
// Grid
// ------------------------------------------------------------
.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.column,
.columns {
  float: left;
  width: 100%;
}

// For devices larger than mobile
@media (min-width: $xs) {
  .container {
    padding: 0;
    width: 85%;
  }
}

// For devices larger than phablet
@media (min-width: $sm) {
  .container { width: 80%; }

  .column,
  .columns {
    margin-left: flex-gutter();

    &:first-child {
      margin-left: 0;
    }
  }

  // Grid Classes
  // Singular
  .column {
    &.one {  width: flex-grid(1); }
    &.one-third { width: flex-grid(4); }
    &.two-thirds { width: flex-grid(8); }
    &.one-half { width: flex-grid(6); }
  }
  // Plural
  .columns {
    @for $i from 1 through 12 {
      &.#{column-name($i)} {
        width: flex-grid($i);

        @if column-name($i) == twelve {
          margin-left: 0;
        }
      }
    }
  }

  // Offsets
  .column,
  .columns {
    @for $i from 1 through 11 {
      &.#{offset-name($i)} {
        margin-left: flex-grid($i) + 4%;
      }
    }

    &.offset-by-one-third { margin-left: flex-grid(4) + 4%; }
    &.offset-by-two-thirds { margin-left: flex-grid(8) + 4%; }
    &.offset-by-one-half { margin-left: flex-grid(6) + 4%; }
  }
}

// Row
@mixin row {
  width: 100%;

  &:after {
    @extend %u-cf;
  }
}

.container:after,
.row:after {
  @extend %u-cf;
}
