
// Typography
// http://type-scale.com/?size=16&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=Droid%2BSerif&font-family=%27Droid%20Serif%27%2C%20serif&font-weight=400&font-family-headers=Montserrat&font-weight-headers=700&background-color=white&font-color=%23333
// ------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: $header-font-weight;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-top: 1.414em;
}

.h1,
h1 { font-size: 2.074rem; }

.h2,
h2 { font-size: 1.728rem; }

.h3,
h3 { font-size: 1.44rem; }

.h4,
h4 { font-size: 1.2rem; }

.h5,
h5 { font-size: 1rem; }

.h6,
h6,
small { font-size: 0.833rem; }
