
// Utilities
// ------------------------------------------------------------
.u-pull-right { float: right; }
.u-pull-left { float: left; }

.u-text-center { text-align: center; }
.u-text-left { text-align: left; }
.u-text-right { text-align: right; }

.u-italic { font-style: italic; }
.u-uppercase {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.u-cf { @include clearfix; }

.u-truncate { @include ellipsis(); }

%u-vertical-center {
  @include transform(translate(-50%));
  position: relative;
  top: 50%;
}
