
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
}

.u-max-full-width {
  max-width: 100%;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

%u-cf {
  clear: both;
  content: '';
  display: table;
}

%u-vertical-align {
  @include transform(translate(-50%));
  position: relative;
  top: 50%;
}
