
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
}
.u-max-full-width {
  max-width: 100%;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
/* Self Clearing Goodness */
.u-cf {
  content: "";
  display: table;
  clear: both;
}
.u-thumbnail {
  padding: 5px;
  border: 1px solid $light-grey;
  border-radius: $base-radius;
  margin-bottom: $base-spacing;
  max-width: 480px;
  width: 100%;
}
%u-vertical-align {
  position: relative;
  top: 50%;
  @include transform(translate(-50%));
}