
/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Base Metrics */
$base-spacing           : 1rem;
$base-radius            : 4px;


/* Colours */
$primary                : #3498db;
$success                : #2ecc71;
$danger                 : #e74c3c;

$lighter-grey           : #ecf0f1;
$light-grey             : #bdc3c7;
$dark-grey              : #95a5a6;
$black                  : #222;


/* Fonts */
// Body
$body-font              : 'Droid Serif', serif;
$body-font-weight       : 400;
$body-color             : $black;
$body-bg                : #fff;
// Headings
$header-font            : 'Montserrat', sans-serif;
$header-font-weight     : 700;
// Misc
$label-font-weight      : 700;


/* Media Queries */
$xs                     : 400px; // Larger than mobile
$sm                     : 550px; // Larger than phablet
$md                     : 750px; // Larger than tablet
$lg                     : 1000px; // Larger than desktop
$xl                     : 1200px; // Larger than Desktop HD


/* 12 Column Flexible Grid */
$fg-column              : 4.66666666667%; // Column Width
$fg-gutter              : 4%; // Gutter Width
$fg-max-columns         : 12;


/* Buttons */
$btn-font               : $header-font;
$btn-font-weight        : 400;
$btn-font-size          : 11px;
$btn-size               : 38px;
// Basic
$btn: (
  color                 : $dark-grey,
  bg                    : rgba(0, 0, 0, 0),
  border                : $dark-grey,
  hover: (
    color               : darken($dark-grey, 20%),
    bg                  : rgba(0, 0, 0, 0),
    border              : darken($dark-grey, 20%)
  )
);
// Primary
$btn-primary: (
  color                 : #fff,
  bg                    : $primary,
  border                : $primary,
  hover: (
    color               : #fff,
    bg                  : darken($primary, 5%),
    border              : darken($primary, 5%)
  )
);
// Success
$btn-success: (
  color                 : #fff,
  bg                    : $success,
  border                : $success,
  hover: (
    color               : #fff,
    bg                  : darken($success, 5%),
    border              : darken($success, 5%)
  )
);
// Danger
$btn-danger: (
  color                 : #fff,
  bg                    : $danger,
  border                : $danger,
  hover: (
    color               : #fff,
    bg                  : darken($danger, 5%),
    border              : darken($danger, 5%)
  )
);
