
/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Colours */
$primary: #33C3F0;



/* Media Queries */

// Larger than mobile
$xs: 400px;
// Larger than phablet (also point when grid becomes active)
$sm: 550px;
// Larger than tablet
$md: 750px;
// Larger than desktop
$lg: 1000px;
// Larger than Desktop HD
$xl: 1200px;
