
// Button Variables
// ------------------------------------------------------------
$btn-font               : $header-font !default;
$btn-font-weight        : 400 !default;
$btn-font-size          : 11px !default;
$btn-size               : 38px !default;

// Basic
$btn: (
  color                 : $dark-grey,
  bg                    : rgba(0, 0, 0, 0),
  border                : $dark-grey,
  hover-color           : darken($dark-grey, 20%),
  hover-bg              : rgba(0, 0, 0, 0),
  hover-border          : darken($dark-grey, 20%)
);

// Primary
$btn-primary: (
  color                 : $white,
  bg                    : $primary,
  border                : $primary,
  hover-color           : $white,
  hover-bg              : darken($primary, 5%),
  hover-border          : darken($primary, 5%)
);

// Success
$btn-success: (
  color                 : $white,
  bg                    : $success,
  border                : $success,
  hover-color           : $white,
  hover-bg              : darken($success, 5%),
  hover-border          : darken($success, 5%)
);

// Danger
$btn-danger: (
  color                 : $white,
  bg                    : $danger,
  border                : $danger,
  hover-color           : $white,
  hover-bg              : darken($danger, 5%),
  hover-border          : darken($danger, 5%)
);
