
/* Typography Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Fonts */
// Body
$body-font              : 'Droid Serif', serif !default;
$body-font-weight       : 400 !default;

// Headings
$header-font            : 'Montserrat', sans-serif !default;
$header-font-weight     : 700 !default;

// Misc
$label-font-weight      : 700 !default;
