
// Base styles for the documentation
// ------------------------------------------------------------
.header {
  margin-top: 6rem;
  text-align: center;

  @media (min-width: 550px) {
    margin-top: 18rem;
  }

  &__logo {
    margin-bottom: 1rem;
    max-width: 300px;
    width: 100%;
  }
}

// Code Example
.code-example {
  margin-bottom: 0;
  margin-top: 1.5rem;

  &__body {
    white-space: pre;
    word-wrap: break-word;
  }
}
