
// Layout Variables
// ------------------------------------------------------------
// Base Metrics
$s                      : 0.5rem !default;
$scale                  : 0.5rem, 1rem, 2rem, 4rem !default;
$base-radius            : 4px !default;

// Media Queries
$xs                     : 400px !default; // Larger than mobile
$sm                     : 550px !default; // Larger than phablet
$md                     : 750px !default; // Larger than tablet
$lg                     : 1000px !default; // Larger than desktop
$xl                     : 1200px !default; // Larger than Desktop HD
