
// Margin
// ------------------------------------------------------------
@for $i from 0 through 4 {
  .m#{$i} { margin: $s * $i; }
  .mt#{$i} { margin-top: $s * $i; }
  .mr#{$i} { margin-right: $s * $i; }
  .mb#{$i} { margin-bottom: $s * $i; }
  .ml#{$i} { margin-left: $s * $i; }
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}
