

// Miscellaneous
// ------------------------------------------------------------
.block {
  display: block;
  width: 100%;
}

.max-full-width {
  max-width: 100%;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}
