
// Documentation util
// ------------------------------------------------------------
.heading-font-size {
  color: #999;
  font-size: 1.2rem;
  letter-spacing: normal;
}

.u-res-break {
  display: inline;

  @media (min-width: 590px) {
    display: none;
  }
}

.u-margin-bottom {
  margin-bottom: 2rem;
}

.u-ellip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
