
/* Documentation section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.docs-section {
  border-top: 1px solid #eee;
  margin-bottom: 0;
  padding: 4rem 0;

  @media (min-width: 550px) {
    padding: 6rem 0;
  }

  &__header {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
}
