
// Documentation example related styles
// ------------------------------------------------------------
.docs-example {

  &.row,
  .row,
  .flex-row,
  form {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }
}


// Visualize the grid
.docs-example--visualize-grid {
  .column,
  .columns {
    background: #eee;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    height: 30px;
    letter-spacing: 0.1rem;
    line-height: 30px;
    margin-bottom: 0.75rem;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 550px) {
      margin-bottom: 1.5rem;
    }
  }

  .col-demo {
    background: #eee;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 30px;
    min-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}

// Code Example
.code-example {
  margin-bottom: 0;
  margin-top: 1.5rem;

  &__body {
    white-space: pre;
    word-wrap: break-word;
  }
}
